<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="FreeSCADA.RunTime.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <FreeSCADA.RunTime.Properties.Settings>
            <setting name="StartApp" serializeAs="String">
                <value>hongzhi_test.fs2</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>zh_cn</value>
            </setting>
        </FreeSCADA.RunTime.Properties.Settings>
    </userSettings>
</configuration>
